$green: #97CF91;
$grey: #767777;
$red: #F25E5C;

@import "library-bar";
@import "grid";

#logo.hide {
	opacity: 0.3;
	-webkit-transform: scale(0.5) translateY(-60px) translateX(-60px);
	-webkit-transform-origin: center;
}